NODE_ENV = "development"
PORT = 3000

DATABASE_URL="postgresql://postgres:123456@localhost:5432/ph_health_care_new?schema=public"
JWT_SECRET = "djerkjsret2fg5fdgdgerwakoewjrfsf"
EXPIRES_IN = "60d"
REFRESH_TOKEN_SECRET = "rfsgsdeffdghtgdrdgdfgtyessokemadsjfge"
REFRESH_TOKEN_EXPIRES_IN = "30d"

ACCESS_TOKEN_SECRET = "ressdresffdfhTogfkgfgemadsjfge"

RESET_PASSWORD_TOKEN_SECRET = "rsds48f4d4eessdresffdfhTogfkgfgemadsjfge"
RESET_PASSWORD_EXPIRES_IN = "5m"
RESET_PASSWORD_LINK= "http://localhost:3000/reset-password"
EMAIL = "farhan.adnan1952@gmail.com"
EMAIL_APP_PASSWORD = "epsw llyk bghy oubo "
STORE_ID = "progr6619df593b458"
STORE_PASS="progr6619df593b458@ssl"
SUCCESS_URL ="http://localhost:3030/success"
CANCEL_URL ="http://localhost:3030/success"
FAILED_URL ="http://localhost:3030/failed"
SSL_PAYMENT_API ="https://sandbox.sslcommerz.com/gwprocess/v3/api.php"
SSL_VALIDATION_API ="https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php"
 